<ul class="vertical-menu">
  <li><%= link_to 'Your Courses', courses_path %></li>
  <li><%= link_to 'Create a new Course', new_course_path %></li>
  <% if check_institute_admin? %>
    <li><%= link_to 'Manage other Teachers', teacher_index_path(current_institute) %></li>
  <% end %>
</ul>
