<% if @deadline.errors.any? %>
  <div class="error_display">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@deadline.errors.count, "error") %>
    </div>
    <ul>
      <% @deadline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
